VITE_API_URL=https://parasite-backend-production.up.railway.app/api
VITE_STRIPE_PUBLIC_KEY=pk_test_your_key
NEXT_PUBLIC_SUPABASE_URL=https://wvymaclipbuhoyuvrvvl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_LiGiiM2WDuYDETLumfQrKA_fwISFtjG
